body {
  /* Aligns the widget containers vertically */
  flex-direction: column; 
  /* Adds some space between the widget containers */
  gap: 1rem; 

  background-image: url(public/desktop_background.jpg);
  background-position: center center;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-size: cover;
  background-color:#000000;

}

#app-icon {
    min-width: 6rem;
    max-width: 6rem;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

#app-name-link {
    text-decoration: none;
}


#widget-container {
    min-width: 500px;
    transition: box-shadow 0.3s ease;
    border-radius:1.5rem
  }

#widget-container .flex.items-center.gap-4 {
      flex-direction: column;
      align-items: center;
      align-self: center;
      gap: 0.5rem;
  }

.p-5{
    padding:1.25rem
}


.flex{
    display:flex
}

.items-center{
    align-items:center
}

.justify-center{
    justify-content:center
}

.min-h-screen{
    min-height:100vh
}

.widget-background{
    background-color:#4343438a;
    backdrop-filter: blur(10px)
}

.rounded-lg{
    border-radius:1.5rem
}

.shadow-lg{
    --tw-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.w-auto{
    width:auto
}

.gap-4{
    gap:1rem
}

.gap-40{
    gap:10rem
}

.flex-col{
    flex-direction:column
}

.text-xl{
    font-size:1.25rem;
    line-height:1.75rem
}

.text-l{
    font-size:1rem;
    line-height:1rem
}

.font-bold{
    font-weight:700
}

.title-text{
    --tw-text-opacity:1;
    color:rgba(255,255,255,var(--tw-text-opacity))
}

.text-lg{
    font-size:1.125rem;
    line-height:1.75rem
}

.artist-text{
    --tw-text-opacity:1;
    color:rgba(116, 81, 134,var(--tw-text-opacity))
}

.mt-1{
    margin-top:.25rem
}

.mt-4{
    margin-top:1rem
}

.w-full{
    width:100%
}

html{
    font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height:1.5
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(public/mobile_background.jpg);
    
  }
  .mt-4 {
        margin-top: 0.75rem;
  }

  #widget-container {
    
        min-width: unset;
        width: 80%;
        padding: 1rem;
        align-self: center;
    }

}